@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body { margin: auto; background-color: #f8f8f6; text-align: center; }
h1{ font-family: "Playfair Display", serif;text-align: center; color: #242222; padding: 10px; font-size: 80px;}
h2 { font-family: "Questrial", sans-serif; text-align: center; color: #242222;padding: 30px; }
h3{ font-family: "Questrial", sans-serif;text-align: center; color: #242222; }
p { font-family: "Lora", serif;text-align: center;color: #242222; padding: 20 px; }
nav li {display: inline; list-style-type: none; font-family: "Questrial", sans-serif;} 
a {font-family:"Questrial";color: #242222; text-decoration: none; text-align: center; display:inline; }
img.mockup {display: inline}

nav ul { 
list-style-type: none;
display: flex;
flex-direction: row;
	justify-content: space-around; } 
img { display: block; margin: 0 auto; }
